{
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 80
}
