.ql-toolbar {
  display: none !important;
}

.ql-container {
  border: none !important;
}

.ql-editor {
  font-size: 18px;
}

.ql-editor p {
  color: #fff !important;
  background-color: transparent !important;
}

.ql-editor p span {
  color: #fff !important;
  background-color: transparent !important;
}

.ql-editor p span img {
  width: 16px !important;
  height: 16px !important;
}

.ql-editor.ql-blank::before {
  color: #fff6 !important;
  font-weight: 300 !important;
}
