* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.body__fix {
  overflow-y: hidden;
  background-color: #0b0c23;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e86d33 #0b0c23;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #0b0c23;
}

*::-webkit-scrollbar-thumb {
  background-color: #e86d33;
  border-radius: 10px;
}
