* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: TwitterChirp, Roboto, Arial, Helvetica, sans-serif;
  transition-duration: 0.1s;
}

@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff)
      format("woff");
  font-weight: 300;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff)
      format("woff");
  font-weight: 400;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff)
      format("woff");
  font-weight: 500;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff)
      format("woff");
  font-weight: 700;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2)
      format("woff2"),
    url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff)
      format("woff");
  font-weight: 800;
  font-style: "normal";
  font-display: "swap";
}
@font-face {
  font-family: TwitterChirp;
  src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2)
      format("woff2"),
    url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff)
      format("woff");
  font-weight: 900;
  font-style: "normal";
  font-display: "swap";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #aaa;
}

input[type="radio"]:checked::before {
  box-shadow: inset 1em 1em #e86d33;
  transform: scale(2.2);
  border: 1px solid #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.body__fix {
  overflow-y: hidden;
  background-color: transparent;
}

@media (min-width: 500px) {
  .body__fix {
    overflow-y: auto;
    background-color: transparent;
  }
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e86d33 #15202b;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #15202b;
}

*::-webkit-scrollbar-thumb {
  background-color: #e86d33;
  border-radius: 10px;
}
